.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Header
#wpadminbar {
	max-width: 100vw;
}
.site-header {
	height: 181px;

	&>.container {
		height: 109px;
	}

	.row {
		display: flex;
		justify-content: space-between;
	}
}

.site-branding {
	display: flex;
	padding-top: 30px;
	padding-bottom: 32px;

	a {
		margin-right: 11px;
	}

	.site-description {
		align-self: flex-end;
		font-size: 18px;
		font-style: italic;
		line-height: 1;
		margin-bottom: 0;
		opacity: 0.5;
	}
}

.site-login {
	.site-login-wrap {
		padding: 32px 0;

		a {
			color: $black;
			font-size: 13px;
			font-style: italic;
			text-transform: uppercase;
		}

		.fa {
			color: $secondary;
			font-size: 14px;
			margin-right: 5px;
		}

		.contact-me {
			background-color: $secondary;
			border-radius: 0;
			font-size: 13px;
			font-style: italic;
			line-height: 1.6;
			margin-left: 30px;
			padding: 11px 55px;
			text-transform: uppercase;
		}
	}
}

// Main Navigation
.main-navigation {
	background-color: $black;
	max-height: 72px;
	padding: 0;

	.container {
		display: block;
	}

	.row {
		display: flex;
		justify-content: space-between;
		min-width: 100%;

		.main-menu {
			//padding: 24px 0;

			ul {
				li {
					a {
						color: $white;
						font-family: $font__headings;
						font-size: 18px;
						font-weight: 400;
						padding: 22px 18px 23px 18px;
						text-transform: uppercase;
						letter-spacing: 0.9px;
					}
				}
			}

			.current-menu-item {
				background-color: $primary;
			}
		}
	}
}

.input-group {
	width: auto;

	form {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		input, button {
			border-color: $white;
			border-radius: 0;
		}

		input {
			min-width: 226px;
			padding-left: 12px;
		}

		input::placeholder {
			opacity: 0.2;
			color: #282828;
			font-family: $font__headings;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
		}

		button {
			background-color: $white;
			border: none;
			padding: 0.4375rem 0.75rem;

			.fa {
				opacity: 0.6;
				color: #2d3340;
				font-size: 18px;
				font-weight: 400;
			}
		}
	}
}

.main-navigation.toggled ul {
	display: flex;
	flex-direction: column;
	z-index: 3;
	background-color: $black;
}

// Site Content
.site-content {
	.container {
		.row {
			display: block;

			.page-title {
				margin-top: 50px;
			}

			.entry-header {
				display: inline-block;

				.entry-title {
					color: $black;
					margin-top: 51px;
				}

				h2.entry-title {
					margin-top: 25px;
					//a {
					//	color: $black;
					//}
				}
			}

			.post-thumbnail {
				display: block;
			}
		}
	}
}

// Main Content Homepage
.page-template-homepage .site-main {
	.row {
		display: block;
	}

	h1 {
		font-size: 48px;
		font-weight: 400;
		letter-spacing: 0.95px;
		line-height: 60px;
		//padding-top: 51px;
		padding-bottom: 8px;
		max-width: 70%;
	}

	.entry-content {
		p {
			font-size: 24px;
			font-weight: 400;
			line-height: 36px;
			margin-bottom: 30px;
			max-width: 75%;
		}

		p:nth-child(2) {
			font-size: 18px;
			margin-bottom: 7px;
		}

		ul {
			font-size: 18px;
			letter-spacing: 0.1px;
			line-height: 27px;
			margin-bottom: 54px;
			margin-left: 0;
			padding-left: 17px;
		}
	}
}

// Recent Posts
.recent-posts {
	.row {
		display: block;
	}

	h3 {
		color: $primary;
		font-size: 14px;
		font-weight: 400;
		line-height: 27px;
		margin-bottom: 1rem;
		text-transform: uppercase;
	}
}

.recent-posts-wrap {
	.recent-posts-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.recent-posts-item {
			img {
				margin-bottom: 8px;
			}
		}

		h6 {
			font-size: 18px;
			font-weight: 300;
			line-height: 20px;
			max-width: 165px;

			a {
				color: $black;
			}
		}
	}
}

// Footer
.site-footer {
	.row {
		justify-content: flex-end;
	}

	#up-button {
		font-family: $font__headings;
		color: $black;
		font-size: 14px;
		font-weight: 300;
		line-height: 16.8px;
		margin-right: -3px;
		display: inline-block;
		position: relative;
		transition: background-color .3s,
		opacity .5s, visibility .5s;
		opacity: 0;
		visibility: hidden;
		z-index: 2;

		.fa {
			margin-right: 3px;
		}

		&:hover {
			color: $primary;
			transition: color .3s;
		}
		&.show {
			opacity: 1;
			visibility: visible;
		}
	}
}

@media (min-width: 1400px) {
	.site-footer #up-button {
		left: 129px;
		top: 126px;
	}
}

// Sign In
.site-main .entry-content {
	p.login-error, p.login-info {
		color: $secondary;
		font-size: 14px;
		line-height: 16px;
		font-style: italic;
		margin-bottom: 10px;
	}

	p.login-info {
		color: $success;
	}
}

// Blog Page
.page-template-blogpage {
	.top-pagination {
		display: block;
		padding-top: 25px;
	}

	.entry-header {
		margin-bottom: 10px;
	}

	.entry-content {
		margin: 10px 0 0;

		p {
			margin-bottom: 10px;
		}
	}

	.entry-footer {
		margin-bottom: 25px;
	}
}

// News Category
.category-news {
	.page-header {
		display: inline-block;
	}

	article.category-news {
		margin: 0 0 2.5rem;

		.btn-bookmark {
			border-radius: 0;
		}
	}
}

// Your Account
#register-form {
	margin-top: 25px;
}

// Your Bookmarks


// Media Queries
@include media-breakpoint-down(lg) {
	.site-header {
		height: 154px;
	}

	.main-navigation .row {
		width: 100%;
		margin-left: 0;

		.navbar-toggler {
			margin-top: 2px;
		}

		.main-menu ul li a {
			padding: 10px 18px 8px 18px;
		}
	}
	.input-group {
		height: max-content;
		margin: 3px 0;
	}

	.site-content .container .row .entry-header h1,
	.page-template-homepage .site-main .entry-content p {
		max-width: 100%;
	}
}

@include media-breakpoint-down(md) {
	.site-header {
		height: 198px;
	}
}

@include media-breakpoint-down(sm) {
	.site-branding .site-description {
		display: none;
	}

	.site-header {
		display: flex;
		flex-direction: column;
		height: 110px;

		&>.container {
			order: 1;
			margin-top: 40px;

			.site-branding {
				padding: 15px 0;
				img {
					width: 65%;
					height: auto;
				}
			}

			.site-login-wrap {
				padding: 10px 0;

				.contact-me {
					padding: 5px 10px;
				}
			}
		}
	}

	.input-group {
		display: contents;
		margin-right: 10px;

		form {
			border-bottom: 1px solid rgba(40, 40, 40, 0.1);
		}
	}

	.main-navigation {
		max-height: 42px;

		.row {
			display: block;
		}

		ul {
			display: block;
			//margin-left: -10px;
		}
	}
}

@include media-breakpoint-down(xs) {
	.site-header .row,
	.site-main .row,
	.recent-posts .row,
	.site-content .row,
	.site-footer .row {
		margin-right: 0;
		margin-left: 0;
	}

	.site-header {
		display: flex;
		flex-direction: column;
		height: 145px;

		&>.container {
			order: 1;
			margin-top: 40px;

			.site-branding {
				padding: 15px 0;
				img {
					width: 65%;
					height: auto;
				}
			}

			.site-login-wrap {
				padding: 10px 0;

				.contact-me {
					padding: 5px 10px;
				}
			}
		}
	}

	.input-group {
		display: contents;
		margin-right: 10px;

		form {
			border-bottom: 1px solid rgba(40, 40, 40, 0.1);
		}
	}

	.main-navigation {
		.row {
			display: block;
		}

		ul {
			display: block;
			margin-left: -10px;
		}
	}

	.page-template-blogpage .top-pagination {
		padding-top: 20px;
	}

	.site-content .container .row .page-title {
		margin-top: 10px;
	}

	.site-content .container .row .entry-header .entry-title {
		margin-top: 5px;
	}

	.site-content .container .row .entry-header {
		margin-top: 10px;

		h2 {
			font-size: 20px;
			margin-top: 10px;
		}
	}

	.site-content .container .row .entry-header h2.entry-title {
		margin-top: 10px;
	}

	.site-content .container .row .entry-header h1 {
		//margin-top: 10px;
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 0;
	}

	.page-template-homepage .site-main .entry-content p {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 15px;
	}

	.page-template-homepage .site-main .entry-content p:nth-child(2) {
		font-size: 14px;
	}

	.page-template-homepage .site-main .entry-content ul {
		font-size: 14px;
		margin-bottom: 15px;
	}

	.page-content, .entry-content, .entry-summary {
		margin: 15px 0 0 0;
	}
}

@media (max-width: 420px) {
	.site-header {
		height: 195px;
	}
}

@media (max-width: 383px) {
	.recent-posts-wrap .recent-posts-list {
		justify-content: center;
	}
}

@include media-breakpoint-only(md) {
	.main-navigation {
		max-height: 89px;
	}

	.input-group {
		justify-content: center;
		width: 100%;
	}
}